pillow==10.3.0
numpy==1.26.4
scikit-image==0.23.2
networkx==3.3
shapely==2.0.4
scipy==1.13.1
trimesh==5.0.0
rtree==1.0.1
manifold3d==3.5.2
mapbox_earcut==2.0.0
matplotlib==3.8.4
streamlit==1.61.1
svgelements==1.9.6
resvg_py==0.5.0
rembg==2.0.65
opencv-python-headless==4.11.0.86
pymatting==1.1.16
pooch==1.9.0
onnxruntime==1.30.0
numba==0.67.0
llvmlite==0.49.0
