pillow==10.3.0
numpy==1.26.4
scikit-image==0.23.2
networkx==3.3
shapely==2.0.4
scipy==1.13.1
trimesh==5.0.0
rtree==1.0.1
manifold3d==3.5.2
mapbox_earcut==2.0.0
matplotlib==3.8.4
streamlit==1.61.1
svgelements==1.9.6
